<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <title>My GitHub Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/index.css">
    </head>
    <body>
        <!--分界陰影線-->
        <div class="shadow-dividing-line"></div>
        <!--主頁右側陰影箭咀-->
        <div class="shadow-arrow-a"></div>
        <div class="shadow-arrow-b"></div>
        <div class="shadow-arrow-c"></div>

        
    </body>
</html>