<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>My GitHub Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="icon" href="/assets/img/websiteUI/myIcon.png">
</head>

<body>
    <!--分界陰影線-->
    <div class="shadow-dividing-line">
        <!--主頁左下方導航欄-->
        <nav class="bottom-navigation">
            <ul class="bottom-navigation-ul">
                <li><a href="{{ site.url }}">主頁</a></li>
                <li><a href="{{ site.url }}/about.html">關於</a></li>
                <li><a href="#">博客</a></li>
            </ul>
        </nav>
    </div>
    <!--主頁右側陰影箭咀-->
    <div class="shadow-arrow-a"></div>
    <div class="shadow-arrow-b"></div>
    <div class="shadow-arrow-c"></div>
    <!--主頁左上方個人名片-->
    <div class="card-shell">
        <div class="card-my-icon">
            <img src="/assets/img/websiteUI/myIcon.png" alt="">
        </div>
        <div class="card-content">
            <div class="card-text">
                <h6>Ice Water Not Ice</h6>
                <h3>冰水不冰</h3>
            </div>
            <div class="card-btn">
                <div class="card-shadow-arrow-a"></div>
                <div class="card-shadow-arrow-b"></div>
            </div>
        </div>
        <div class="card-linkout-box">
            <i class="card-linkout-icon linkout-icon-intagram"></i>
            <i class="card-linkout-icon linkout-icon-bilibili"></i>
            <i class="card-linkout-icon linkout-icon-github"></i>
            <i class="card-linkout-icon linkout-icon-youtube"></i>
        </div>
    </div>

    <!--主頁右側主內容-->
    <main>
    </main>
</body>

</html>